@layout PrintLayout

@page "/printTrfBank/{id:int}"
@using eSoft.CashBank.Model
@using eSoft.CashBank.View
@using eSoft.Fungsi.Function

@inject ICashBankServices service
@inject NavigationManager navigationmanager


<head>


    <style type="text/css" media="print">
        .dontprint {
            display: none;
        }
    </style>
</head>


<div class="dontprint">
    <a href="/ModuleBank/TransAntarBank">Back</a>

</div>

<div class="container-fluid">
    <table style="width:100%">
        <tr>
            <th style="width:30%">
                <div style="float:left;padding:20px 50px">
                    <strong style="font-size:18px"><u>CV BMA TEKNIK</u></strong><br />
                    <span style="font-size:12px;margin-bottom:0px;padding:0 0px 0px 0px">Pucang Sewu VII/1B</span><br />
                    <span style="font-size:12px;margin-bottom:0px;padding:0 0px 0px 0px">Surabaya</span>
                </div>
            </th>
            <th style="width:40%">

                <div align="center" style="padding:20px 30px">
                    @*<h3 align="center"><u>Bukti @TransAll.KodeBank @((@TransAll.Saldo<0) ? "Keluar" : "Masuk") </u></h3><br />*@
                    <h4 align="center"><u>TRANSFER ANTAR KAS/BANK</u></h4><br />

                </div>
            </th>
            <th style="width:30%">
                <div style="padding:20px 30px">
                    <strong>Nomor   :</strong>        <span>@TransAll.DocNo</span><br />
                    <strong>Tanggal :</strong>        <span>@string.Format("{0:d}", @TransAll.Tanggal)</span>

                </div>
            </th>
        </tr>

    </table>
</div>
<div class="container-fluid">
    @{
        

        <table style="width:100%">
            <thead style="border:solid ">
                <tr>
                    <th></th>                   
                    <th style="width:80%;text-align:center"><span style="margin-right:15px;">Keterangan</span> </th>
                    <th style="width:20%;text-align:center">Jumlah</th>
                </tr>
            </thead>
            <tbody style="border:solid">

                @{
                    

                    <tr>
                        <td>@Kbank1</td>
                        <td>Dari @bank1 </td>
                        <td style="text-align:right;margin-right:15px"><span></span></td>
                    </tr>
                    <tr>
                        <td>@Kbank2</td>
                        <td>Ke @bank2 </td>
                        <td style="text-align:right;margin-right:15px"><span>@string.Format("{0:n2}", (TransAll.Saldo))</span></td>
                    </tr>

                   
                        for (var i = 1; i < 8; i++)
                        {
                           
                            <tr style="height:40px"> <td colspan="3"></td></tr>
                        }
                    

                }

            </tbody>
            <tbody>
                <tr style="height:20px"> <td colspan="3"></td></tr>
            </tbody>
            <tfoot style="border:solid">

                <tr>
                    <td style="border:solid" colspan="2">@TransAll.Keterangan</td>
                    <td style="text-align:right;margin-right:15px"><strong>@string.Format("{0:n2}", TransAll.Saldo)</strong></td>
                </tr>
            </tfoot>

        </table>
    }
</div>
<br />

<div class="container-fluid">
    <table style="width:100%;border:solid">
        <tr>
            <th style="width:33%;border:solid">
                <div align="center">
                    <strong>Mengetahui</strong> <br /><br /><br /><br />
                </div>
            </th>
            <th style="width:34%;border:solid">
                <div align="center">
                    <strong>Pembuat</strong> <br /><br /><br /><br />
                </div>
            </th>
            <th style="width:33%;border:solid">
                <div align="center">
                    <strong>Akunting</strong> <br /><br /><br /><br />
                </div>
            </th>
        </tr>
    </table>
</div>
<br />
<br />





@code {
    [Parameter] public int Id { get; set; }

    private TransferView Transh = new TransferView();
    private CbTransfer TransAll = new CbTransfer() ;
    private string bank1;
    private string bank2;
    private string Kbank1;
    private string Kbank2;
    private List<CbBank> banks;


    private string enabled { get; set; }

    public string kurs { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        // Transh.Tanggal = DateTime.Now;



        await LoadTrans();
    }

    void LoadBank()
    {
        banks = service.GetBank();
    }


    async Task LoadTrans()
    {
        TransAll = await service.GetTransferId(Id);
        bank1 = service.GetBankKd(TransAll.KodeBank1).NmBank;
        bank2 = service.GetBankKd(TransAll.KodeBank2).NmBank;
        Kbank1 = service.GetBankKd(TransAll.KodeBank1).Kurs;
        Kbank2 = service.GetBankKd(TransAll.KodeBank2).Kurs;
    }
}


