@layout PrintLayout

@page "/ModulePersediaan/LaporanCurrentStock"

@using eSoft.Persediaan.Model
@using eSoft.Persediaan.View
@using eSoft.Persediaan.Services


@using eSoft.LaporanStock.Services

@inject IInventoryServices   serviceIC

@inject NavigationManager navigationmanager

<div class="dontprint" style="display:none inline">
    <br />
    &emsp;
    
        <NavLink href="/" class="btn btn-primary btn-lg">&nbsp;Back&nbsp;</NavLink>
  
    &emsp;
     <NavLink class="btn btn-success btn-lg" onclick="window.print()">&nbsp; Cetak &nbsp;</NavLink>
    &emsp;
</div>

<table width="100%" border="0" cellspacing="0" cellpadding="0">

    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>

  
    <tr>
        <td colspan="3" style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;" align="center">
            @Title
        </td>
    </tr>


    <tr>
        <td colspan="3">
            <table width="100%" border="0" cellspacing="0" cellpadding="4">
                <tr>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" width="10%" height="32" align="center">No.</td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;" width="15%" align="center">Kode</td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;" width="50%" align="center">Nama Barang</td>
                     <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;" width="10%" align="center">Satuan</td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;" width="15%" align="center">Qty</td>
                </tr>
             
                @foreach (var item in TransDetail)
                {
                    @if(cekDivisi != item.KodeDivisi)
                    {
                        cekDivisi = item.KodeDivisi;
                        No = 1;
                        <tr>
                            <td colspan="5" style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px;  border-left:1px solid #333;  border-right:1px solid #333;" align="center">@item.Divisi</td>
                        </tr>
                        
                    }

                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;  border-left:1px solid #333; " align="left">@(No++)</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;  " align="left">@item.ItemCode </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;  " align="left">@item.NamaItem</td>
                      <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;  " align="right">@item.Satuan</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;   border-right:1px solid #333;" align="right">@item.Qty.ToString("N")</td>
                    </tr>
                }

               

                <tr>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333;  border-left:1px solid #333; " align="center">&emsp;</td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333;  " align="center"></td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333;  " align="center"></td>
          <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333;  " align="center"></td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333;   border-right:1px solid #333;" align="center"></td>
                </tr>
               
              

           
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">Tanggal cetak. @DateTime.Today.Date</td>
    </tr>
    
   
    @*<tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px;" colspan="2">Please Note:</td>
    </tr>
    <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2">Dear Consumer, the bill payment will reflect in next 48 hours or in the next billing cycle, at your service provider&rsquo;s end. Please  contact paytm customer support for any queries regarding this order.</td>
    </tr>*@
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    @*<tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px;" colspan="2">DECLARATION:</td>
        </tr>
        <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2">This is not an invoice but only a confirmation of the receipt of the amount paid against for the service as described above.  Subject to terms and conditions mentioned at paytm.com</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2" align="center">(This is computer generated receipt and does not require physical signature.)  <br />B-121 Sector 5, Noida, Uttar Pradesh 201301,<br />  Service tax registration number: AAACO4007ASD002<br />  Paytm Order ID :12252016430</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>*@
</table>



    



@code {


    public List<IcStockCardView> TransDetail;
    private string Title = "Laporan Stock";
    private string cekDivisi = "";
    private int No = 0;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        loadStock();

    }



    private void loadStock()
    {

        TransDetail = serviceIC.GetCurrentStock();

        StateHasChanged();

    }


}
