@page "/ModulePersediaan/LaporanPersediaan"

@using eSoft.Persediaan.Model
@using eSoft.Persediaan.View
@using eSoft.Persediaan.Services

@using eSoft.Penjualan.Model
@using eSoft.Penjualan.View
@using eSoft.Penjualan.Services

@using eSoft.Pembelian.Model
@using eSoft.Pembelian.View
@using eSoft.Pembelian.Services

@using eSoft.LaporanStock.Services

@inject IInventoryServices   serviceIC
@inject ISalesServices   serviceOE
@inject IPurchaseServices   serviceIR
@inject ILaporanStockServices  services

@inject NavigationManager navigationmanager

<h3>Laporan Persediaan</h3>
<div class="row">
    <div class="col-4">
        <EditForm Model="transh">
            <div class="form-group">
                <label>
                    Dari Tanggal :
                    <InputDate class="form-control" @bind-Value="Tanggal1" />
                </label>
            </div>
            <div class="form-group">
                <label>
                    Sd Tanggal :
                    <InputDate class="form-control" @bind-Value="Tanggal2" />
                </label>
            </div>

        </EditForm>
    </div>

    <div class="col-4">
        <br />
        <button class="btn btn-primary" @onclick="@(() => proses1())">Display Mutasi</button>
        <br />
       
    </div>
</div>

<div class="row">
    <br />
</div>

@switch (Tampilan)
{
    case 1:
        <div class="container">

            <DataGridLaporanStockComponent Items="TransItem" OnDetail="OpenDetail"></DataGridLaporanStockComponent>

        </div>
        @if (DetailOpen)
        {

            <ModalSearchComponent OnClose="OnSearchClose" Items="TransDetail" Context="transaksi2" GetFilterableText="@(item => $"{item.ItemCode} {item.Keterangan} {item.Dokumen} ")">
                <TableHeader>
                    <th scope="col" style="width:10%">Dokumen</th>
                    <th scope="col" style="width:10%">Tanggal</th>
                    <th scope="col" style="width:30%">Keterangan</th>
                    <th scope="col" style="width:10%">Qty</th>
                    <th scope="col" style="width:20%">Cost</th>
                    <th scope="col" style="width:20%">Balance</th>
                                    

                    <th></th>
                </TableHeader>
                <RowTemplate>
                    <td style="width:15%">@transaksi2.Dokumen</td>
                    <td style="width:15%">@transaksi2.Tanggal.ToShortDateString()</td>
                    <td style="width:30%">@transaksi2.Keterangan</td>
                    <td style="width:20%; text-align:right">@transaksi2.Qty.ToString("N")</td>
                    <td style="width:20%; text-align:right">@transaksi2.Cost.ToString("N")</td>
                    <td style="width:20%; text-align:right">@transaksi2.Jumlah.ToString("N")</td>
                   

                </RowTemplate>
            </ModalSearchComponent>


        }

        break;

    

}

@code {


    public List<IcStockCardView> TransDetail;
    public List<IcItem> TransItem = new List<IcItem>();
    public List<IcStockCardView> TransDetailView;

    private string nCount { get; set; }
    private string nOngkir { get; set; }
    private string nJumlah { get; set; }
    private string nPPn { get; set; }
    public IcStockCardView transh = new IcStockCardView();


    public int Tampilan { get; set; } = 1;

    public bool DeleteDialogOpen { get; set; }
    public bool NullDialogOpen { get; set; }
    public bool DetailOpen { get; set; }
    public bool DetailOpen2 { get; set; }
    public bool DetailOpen3 { get; set; }

    public DateTime Tanggal1 { get; set; }
    public DateTime Tanggal2 { get; set; }



    protected override void OnInitialized()
    {
        base.OnInitialized();
        Tanggal2 = DateTime.Today;
        Tanggal1 = DateTime.Today;
        //  proses1();

    }



    private void OnSearchClose(bool accepted)
    {

        DetailOpen = false;
        DetailOpen2 = false;
        DetailOpen3 = false;
        StateHasChanged();

    }

    private void proses1()
    {
        TransItem = serviceIC.GetIcItem();
        Tampilan = 1;
        //  nJumlah = TransHeader.Sum(x => x.Jumlah).ToString("N");
        // StateHasChanged();
    }

    private void OpenDetail(IcItem xKdBank)
    {

        TransDetail = services.CetakMutasi(Tanggal1,Tanggal2, xKdBank.ItemCode);
        DetailOpen = !DetailOpen;
        //  navigationmanager.NavigateTo($"/ModuleJual/EditTransJual/{xKdBank}");
        StateHasChanged();
    }

   

}
