@using eSoft.Penjualan.Model
@using eSoft.Penjualan.View

@using System.Collections.Generic
@using System.Linq


<div class="bg-light justify-content-between">
    @nJumlah
    <p align="right">
        <input class="mr-sm-2" type="search" placeholder="Search" aria-label="Search" @bind-value="searchText">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" @onclick="searchFind">Search</button>
    </p>
</div>
<table class="table table-striped table-hover">

    <thead>
        <tr>
            <th scope="col">No Bukti</th>
            <th scope="col">Customer</th>
            <th scope="col">Tanggal</th>
            <th scope="col">Keterangan</th>
            <th scope="col">Jumlah</th>
            <th scope="col">PPN</th>
            <th scope="col">Ongkir</th>
            <th scope="col">Total</th>
            <th></th>
        </tr>
    </thead>
</table>
<div style="display:block;position:relative;height:430px;overflow:auto ">
    <table class="table table-striped table-hover">

        @*<thead>

                <tr>@TableHeader</tr>
            </thead>*@
        <tbody>
            @foreach (var transaksi in result)
            {
                <tr>
                    <td>@transaksi.NoLpb</td>
                    <td>@transaksi.NamaCust</td>
                    <td>@transaksi.Tanggal.ToShortDateString()</td>
                    <td>@transaksi.Keterangan</td>
                    <td style="text-align:right">@transaksi.TtlJumlah.ToString("N")</td>
                    <td style="text-align:right">@transaksi.Ppn.ToString("N")</td>
                    <td style="text-align:right">@transaksi.Ongkos.ToString("N")</td>
                    <td style="text-align:right">@transaksi.Jumlah.ToString("N")</td>

                    <td>
                        <button @onclick="() => BtnDetail(transaksi)" class="btn btn-success">Detail</button>

                        @*<button @onclick="() => OpenPrint(transaksi.OeTransHId)" class="btn btn-danger">Print</button>*@
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@code {

    [Parameter]
    public List<OeTransH> Items { get; set; }

    [Parameter]
    public EventCallback<OeTransH> OnDetail { get; set; }

    private string nJumlah { get; set; }

    private List<OeTransH> result = new List<OeTransH>();
    private List<OeTransH> result2 = new List<OeTransH>();

    private string searchText;


    private Task BtnDetail(OeTransH xKode)
    {
        return OnDetail.InvokeAsync(xKode);

    }
    protected override void OnInitialized()
    {
        base.OnInitialized();

    }
    
    protected override void OnAfterRender (bool firstRender)
    {
        base.OnAfterRender(firstRender);
        result2 = Items;
        searchFind();
        StateHasChanged();
    }

    private void searchFind()
    {
        result2 = Items;

        if (!string.IsNullOrEmpty(searchText))
        {


            //   result = result.Where(x => x.NamaCust || x.AlamatKirim).ToList();
            result2 = (from t in result2
                      where
  ( (t.NamaCust?.Contains(searchText, StringComparison.InvariantCultureIgnoreCase) ?? false) ||
    (t.Keterangan?.Contains(searchText, StringComparison.InvariantCultureIgnoreCase) ?? false ) ||
    (t.NoLpb?.Contains(searchText, StringComparison.InvariantCultureIgnoreCase) ?? false))
                      select t).ToList();



        }
        if (result2.Count != 0)
            result = result2;
        else
            result = Items;

        nJumlah = result.Sum(x => x.Jumlah).ToString("N");
    }



}
