@layout PrintLayout

@page "/PrintNotaJual/{Id:int}"
@using eSoft.Penjualan.Model
@using eSoft.Penjualan.View
@using eSoft.Piutang.Model
@using eSoft.Persediaan.Model
@using eSoft.Fungsi.Function
@using eSoft.Penjualan.Services

@inject ISalesServices service
@inject NavigationManager navigationmanager


<div class="dontprint" style="display:none inline">
    <br />
    &emsp;<NavLink href="/ModuleBank/TransBank" class="btn btn-primary btn-lg">&nbsp;Back&nbsp;</NavLink>&emsp;
    <NavLink class="btn btn-success btn-lg" onclick="window.print()">&nbsp; Cetak &nbsp;</NavLink>
</div>

<div id="page-wrap">

    <textarea id="header">@Title</textarea>

    <div id="identity">

        <textarea id="address">
CV BMA TEKNIK
Pucang Sewu VII No. 1B
Surabaya 60283
Phone: (031) 99022963, HP/WA: 0812-4999-1793
Email: cvbmateknik@gmail.com
        </textarea>

        @*<div style="clear:both"></div>*@


        <table id="meta">
            <tr>
                <td class="meta-head">Document #</td>
                <td>@TransAll.NoLpb</td>
            </tr>
            <tr>

                <td class="meta-head">Date</td>
                <td>@TransAll.Tanggal.ToShortDateString()</td>
            </tr>
            <tr>
                <td class="meta-head">Bank/Kas</td>
                <td><div class="due">@TransAll.Customer</div></td>
            </tr>

        </table>

    </div>

    <table id="items">

        <tr>
            <th>No</th>
            <th>Src</th>
            <th>Description</th>
            <th>Amount</th>

        </tr>

        @foreach (var item in TransAll.OeTransDs)
        {
            <tr class="item-row">
                <td class="no">@(noUrut++)</td>
                <td class="source">@item.ItemCode</td>
                <td class="description"><textarea>@item.NamaItem</textarea></td>
                <td class="jumlah">@item.Jumlah.ToString("N")</td>

            </tr>
        }

        @if (TransAll.OeTransDs.Count < 6)
        {
            for (var x = TransAll.OeTransDs.Count; x < 6; x++)
            {
                <tr class="item-row">
                    <td class="no"></td>
                    <td class="source"></td>
                    <td class="description"><textarea></textarea></td>
                    <td class="jumlah"><textarea></textarea></td>

                </tr>
            }
        }
        <tr>
            <td colspan="3" rowspan="2" class="description"><textarea class="keterangan">@TransAll.Keterangan</textarea></td>
            <td class="total-line">Saldo</td>

        </tr>
        <tr>
            <td class="total-value">@TransAll.Jumlah.ToString("N")</td>
        </tr>

    </table>
    @Fungsi.BilanganToText(TransAll.Jumlah)



    <table id="items">
        <tr>
            <th>Pembuat</th>
            <th>Mengetahui</th>
            <th>Accounting</th>
        </tr>
        <tr class="item-footer">
            <td>&nbsp;</td>
            <td></td>
            <td></td>
        </tr>
        <tr class="item-footer">
            <td>&nbsp;</td>
            <td></td>
            <td></td>
        </tr>
        <tr class="item-footer">
            <td>&nbsp;</td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>


@code { [Parameter] public string Title { get; set; } = "NOTA PENJUALAN";
    [Parameter] public int Id { get; set; }

    private OeTransHView Transh = new OeTransHView() { OeTransDs = new List<OeTransDView>() };
    private OeTransH TransAll = new OeTransH() { OeTransDs = new List<OeTransD>() };
    private List<ArCust> banks;
    private List<IcItem> srccode;
    private OeTransDView Transd = new OeTransDView();
    private OeTransDView TransK = new OeTransDView();
    //   private List<TransDView> TransDs = new List<TransDView>();
    private string enabled { get; set; }

    public string kurs { get; set; } = "";
    private int noUrut { get; set; } = 1;

    protected override void OnInitialized()
    {
        // Transh.Tanggal = DateTime.Now;

        LoadBank();
        LoadSrcCode();
        LoadTrans();
    }

    void LoadBank()
    {
        banks = service.GetBank();
    }

    void LoadSrcCode()
    {
        srccode = service.GetSrcCode();
    }

    void LoadTrans()
    {
        TransAll = service.GetTrans(Id);


    }


}