@page "/ModuleJual/AddTransJualNon"

@using eSoft.Piutang.Model
@using eSoft.Piutang.View
@using eSoft.Piutang.Services
@using eSoft.Persediaan.Model
@using eSoft.Persediaan.View
@using eSoft.Persediaan.Services
@using eSoft.Penjualan.Model
@using eSoft.Penjualan.View
@using eSoft.Penjualan.Services

@inject ISalesServices  service
@inject IReceivableServices   serviceAR
@inject IInventoryServices serviceIC
@inject NavigationManager navigationmanager

<div class="top-row">

    <NavLink href="/ModuleJual/TransJualNon" class="btn btn-primary">Back</NavLink>

</div>

<div class="top-row px-4 " style="z-index:5">
    <h3>Add Transaksi Jual</h3>
</div>


<div class="container">
    <EditForm Model="@Transh" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />


        <div class="form-group">
            <label>
                Supplier :
                <InputSelect class="form-control" @bind-Value="Transh.Customer" style="width:80%; display:inline">
                    <option value="">&nbsp;&nbsp;---Select Customer---&nbsp;&nbsp;</option>
                    @foreach (var item in supplier)
                    {
                        <option value="@item.Customer">[@item.Customer]&nbsp; @item.NamaCust</option>
                    }

                </InputSelect>

            </label>
        </div>
        <div class="form-group">
            <label>
                Tanggal :
                <InputDate class="form-control" @bind-Value="Transh.Tanggal" />
            </label>
        </div>
        <div class="form-group">
            <label>
                Keterangan :
                <InputTextArea class="form-control" @bind-Value="Transh.Keterangan" style="width:150%" />
            </label>
        </div>

        <div class="container">
            <table>
                <tr>
                    <td>
                        <div class="row">
                            <div class=" col-sm  form-message">
                                <span>Saldo   : @Transh.TtlJumlah.ToString("N")</span>
                            </div>

                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label>
                                PPN % :
                                <InputNumber class="form-control" @bind-Value="Transh.PpnPersen" @onchange="rubahppn" />
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>
                                PPN :
                                <InputNumber class="form-control" @bind-Value="Transh.Ppn" />
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>
                                Ongkos :
                                <InputNumber class="form-control" @bind-Value="Transh.Ongkos" />
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class=" col-sm  form-message">
                                <span>Jumlah   : @Transh.Jumlah.ToString("N")</span>
                            </div>

                        </div>
                    </td>
                    <td></td>
                </tr>
            </table>


        </div>

        <div class="float-md-right">
            <button class="btn-success" type="submit">Simpan</button>
        </div>
        <br />
        <br />



    </EditForm>

    <div class="container">
        <DetailGridComponent Items="Transh.OeTransDs" Context="transaksi">
            <TableHeader>

                <th scope="col">Item</th>
                <th scope="col">Nama Item</th>
                <th scope="col">Satuan</th>
                <th scope="col">Qty</th>
                <th scope="col">Harga</th>
                <th scope="col">Diskon</th>
                <th scope="col">Jumlah</th>
                <th scope="col">Lokasi</th>
                <th scope="col">&nbsp;</th>
                <th></th>
            </TableHeader>
            <RowTemplate>
                <td>@transaksi.ItemCode</td>
                <td>@transaksi.NamaItem</td>
                <td>@transaksi.Satuan</td>
                <td>@transaksi.Qty.ToString("#,##0.##")</td>
                <td>@transaksi.Harga.ToString("#,##0.##")</td>
                <td>@transaksi.Discount.ToString("#,##0.##")</td>
                <td>@transaksi.UpdateJumlah.ToString("#,##0.##")</td>
                <td>@transaksi.Lokasi</td>
                <td>
                    <button @onclick="(() => Rubah(transaksi))" class="btn btn-success">Edit</button>
                    <button @onclick="(() => Hapus(transaksi))" class="btn btn-danger">Delete</button>
                </td>
            </RowTemplate>
        </DetailGridComponent>


        <Button Class="btn btn-info" @onclick="@OnAddLine">Add Line</Button>
    </div>

</div>

@if (IsVisible)
{
    <ModalJualComponent SrcCode="srccode" OnClose="OnVisibleClose" OnDetail="OnDetailTrans" isEdit="IsEdit" DetailRubah="Transd" Location="lokasi"></ModalJualComponent>
}


@if (DialogOpen)
{
    <ModalDialogComponent Title="Alert" Text="Kode Bank Sudah Ada" TombolSave="false" OnClose="OnDialogClose"></ModalDialogComponent>
}


@code {
    OeTransHView Transh = new OeTransHView() { OeTransDs = new List<OeTransDView>() };
    private List<ArCust> supplier;
    private List<IcItem> srccode;
    private List<IcLokasi> lokasi;
    private OeTransDView Transd = new OeTransDView();
    private OeTransDView TransK = new OeTransDView();

    private string enabled { get; set; }

    public int SupplierId { get; set; }
    public string namaItem { get; set; }
    public string namasupplier { get; set; }
    public int ItemId { get; set; }

    public string Testing { get; set; }
    private bool DialogOpen { get; set; }
    public bool IsVisible { get; set; }
    public bool IsKurs { get; set; }
    public bool IsEdit { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Transh.Tanggal = DateTime.Now;

        Loadsupplier();
        LoadSrcCode();
        Loadlokasi();
    }

    private void OnVisibleClose()
    {

        IsVisible = false;
        IsKurs = false;
        StateHasChanged();

    }


    private void OnDialogClose(bool accepted)
    {

        DialogOpen = false;
        StateHasChanged();

    }


    void Loadsupplier()
    {

        supplier = serviceAR.GetCustomer() ;

    }

    private void HandleValidSubmit()
    {

        var newEdit = service.AddTransH(Transh,false);
        if (newEdit != null)
        {
            var id = newEdit.OeTransHId.ToString().Trim();
            //  navigationmanager.NavigateTo("/PrintBuktiBayar/{id", false);
            navigationmanager.NavigateTo("/ModuleJual/TransJualNon", false);
            //  navigationmanager.NavigateTo($"/PrintBuktiBayar/{id}");
        }


    }

    private void OnDetailTrans(OeTransDView transD)
    {
        if (!IsEdit)
        {
            Transh.OeTransDs.Add(transD);
        }

        IsVisible = false;
        IsKurs = false;
        IsEdit = false;
        StateHasChanged();
    }




    void LoadSrcCode()
    {

        srccode = serviceIC.GetIcItem();

    }

    void Loadlokasi()
    {

        lokasi = serviceIC.GetIcLokasi();

    }

    private void Rubah(OeTransDView transd)
    {
        Transd = new OeTransDView();
        Transd = transd;
        IsEdit = true;
        OnAddLine();

    }

    private void Hapus(OeTransDView transd)
    {

        Transh.OeTransDs.Remove(transd);
        //ShowOnClick();
    }

    private void OnAddLine()
    {

        this.IsVisible = true;





        StateHasChanged();

        //IsEdit = false;
        //ShowOnClick();
    }

    private void rubahppn()
    {

        var persen = Transh.TtlJumlah * (Transh.PpnPersen / 100);

        Transh.Ppn = persen;
    }

}
