@page "/ModuleBank/TransBank"
@using eSoft.CashBank.Model
@using eSoft.CashBank.Services
@using BlazorFluentUI

@*@attribute [Authorize(Roles ="Admin, Finance")]*@

@inject ICashBankServices cashBank
@implements IDisposable
@inject NavigationManager navigationmanager

<div class="container">
    <h1>Transaksi BANK/KAS</h1>
</div>


<div class="container">
    <NavLink href="/ModuleBank/AddTransBank" class="btn btn-primary">Add</NavLink>
</div>
<br />

@*<EditForm Model="bank">
    <PrimaryButton @onclick="() => OpenRincian()" Text=@(RincianTransaksi ? "Hide Transaksi" : "Display Transaksi") />

    <InputRadioGroup @bind-Value="StatusOption">
        @foreach (var status in (option[])Enum.GetValues(typeof(option)))
        {
            <InputRadio Value="status" />
            @status
            <span>&nbsp;&nbsp;</span>
        }

    </InputRadioGroup>
</EditForm>*@

@if (RincianTransaksi)
{


    <div class="container">
        <DataGridVerticalComponent Items="TransHeader" Context="transaksi" GetFilterableText="@(item =>$"{item.KodeBank} {item.DocNo} {item.Keterangan}")">
            <TableHeader>
                <th scope="col" style="width:10%">Bank</th>
                <th scope="col" style="width:15%">No Bukti</th>
                <th scope="col" style="width:15%">Tanggal</th>
                <th scope="col" style="width:30%">Keterangan</th>
                <th scope="col" style="width:15%">Saldo</th>
                <th scope="col" style="width:15%"></th>
            </TableHeader>
            <RowTemplate>
                <td style="width:10%">@transaksi.KodeBank</td>
                <td style="width:15%">@transaksi.DocNo</td>
                <td style="width:15%">@transaksi.Tanggal.ToShortDateString()</td>
                <td style="width:30%">@transaksi.Keterangan</td>
                <td style="width:15%">@transaksi.Saldo.ToString("N")</td>
                <td style="width:15%">
                    <button @onclick="() => OpenRubah(transaksi.CbTransHId)" class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg>
                    </button>
                    <button @onclick="() => OpenDeleteDialog(transaksi)" class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </button>
                    <button @onclick="() => OpenPrint(transaksi.CbTransHId)" class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                            <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
                        </svg>
                    </button>
                </td>
            </RowTemplate>
        </DataGridVerticalComponent>


    </div>
}

@if (DeleteDialogOpen)
{
    <ModalDialogComponent Title="Are you sure?" Text="Do you want to delete this entry?" OnClose="OnDeleteDialogClose"></ModalDialogComponent>
}

@if (NullDialogOpen)
{
    <ModalDialogComponent Title="MESSAGE" Text="Transaction Already Posting" TombolSave="false" OnClose="OnDeleteNullClose"></ModalDialogComponent>
}



@code {

    private List<CbTransH> TransHeader;
    private List<CbTransD> TransDetail;
    private CbTransH _bankToDelete;

    public enum option { All = 1, Three_Month = 2 };
    public option StatusOption { get; set; } = option.All;

    CbTransH bank = new CbTransH();

    public bool DeleteDialogOpen { get; set; }
    public bool NullDialogOpen { get; set; }
    public bool RincianTransaksi { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadGet();
        RincianTransaksi = true;

    }

    private void LoadGet()
    {
        TransHeader = cashBank.GetTransH();
        TransDetail = cashBank.GetTransD();
    }

    private void Load3Get()
    {
        TransHeader = cashBank.Get3TransH();
        TransDetail = cashBank.GetTransD();
    }


    private async Task OnDeleteDialogClose(bool accepted)
    {
        if (accepted)
        {
            await cashBank.DelTransH(_bankToDelete.CbTransHId);
            _bankToDelete = null;
        }

        DeleteDialogOpen = false;
        LoadGet();

        StateHasChanged();

    }

    private void OpenRincian()
    {
        RincianTransaksi = !RincianTransaksi;

        if (StatusOption == option.All)
            LoadGet();
        else
            Load3Get();
    }



    private void OnDeleteNullClose(bool accepted)
    {
        //if (accepted)
        //{
        //    await cashBank.DelBank(_bankToDelete.CbBankId);
        //    _bankToDelete = null;
        //}

        DeleteDialogOpen = false;
        NullDialogOpen = false;
        LoadGet();
        StateHasChanged();

    }
    private void OpenDeleteDialog(CbTransH bank)
    {
        if (bank.Cek)
        {
            NullDialogOpen = true;
        }
        else
        {
            DeleteDialogOpen = true;
        }


        _bankToDelete = bank;
        StateHasChanged();
    }

    private void OpenRubah(int xKdBank)
    {
        navigationmanager.NavigateTo($"/ModuleBank/EditTransBank/{xKdBank}");
    }

    private void OpenPrint(int xKdBank)
    {
        navigationmanager.NavigateTo($"/PrintBuktiBayar/{xKdBank}");
    }


    public void Dispose()
    {

    }
}
