@page "/ModuleJual/LaporanPenjualan"

@using eSoft.Piutang.Model
@using eSoft.Piutang.View
@using eSoft.Piutang.Services
@using eSoft.Persediaan.Model
@using eSoft.Persediaan.View
@using eSoft.Persediaan.Services
@using eSoft.Penjualan.Model
@using eSoft.Penjualan.View
@using eSoft.Penjualan.Services

@inject ISalesServices  service
@inject IReceivableServices   serviceAR
@inject IInventoryServices serviceIC
@inject NavigationManager navigationmanager

<h3>LaporanPenjualan</h3>
<div class="row">
    <div class="col-4">
        <EditForm Model="transh">
            <div class="form-group">
                <label>
                    Dari Tanggal :
                    <InputDate class="form-control" @bind-Value="Tanggal1" />
                </label>
            </div>
            <div class="form-group">
                <label>
                    Sd Tanggal :
                    <InputDate class="form-control" @bind-Value="Tanggal2" />
                </label>
            </div>

        </EditForm>
    </div>
  
    <div class="col-4">
        <br />
        <button class="btn btn-primary" @onclick="@(() => proses1())">Display Penjualan</button>
        <br />
    </div>
</div>

<div class="row">
    <br/>
</div>

<div class="container">
 
    <DataGridPenjualanComponent Items="TransHeader" OnDetail="OpenDetail" ></DataGridPenjualanComponent>

</div>
@if (DetailOpen)
{

    <ModalDetailJualComponent OnClose="OnSearchClose" Items="TransDetail" Context="transaksi2"  GetFilterableText="@(item =>$"{item.ItemCode} {item.NamaItem} ")">
        <TableHeader>
            <th scope="col">Item</th>
            <th scope="col">Nama Item</th>
            <th scope="col">Satuan</th>
            <th scope="col">Qty</th>
            <th scope="col">Harga</th>
            <th scope="col">Diskon</th>
            <th scope="col">Jumlah</th>
            <th scope="col">Lokasi</th>

            <th></th>
        </TableHeader>
        <RowTemplate>
            <td>@transaksi2.ItemCode</td>
            <td>@transaksi2.NamaItem</td>
            <td>@transaksi2.Satuan</td>
            <td style="text-align:right">@transaksi2.Qty.ToString("N")</td>
            <td style="text-align:right">@transaksi2.Harga.ToString("N")</td>
            <td style="text-align:right">@transaksi2.Discount.ToString("N")</td>
            <td style="text-align:right">@transaksi2.Jumlah.ToString("N")</td>
            <td>@transaksi2.Lokasi</td>
        </RowTemplate>
    </ModalDetailJualComponent>


}

@code {

    public List<OeTransH> TransHeader;
    public List<OeTransD> TransDetail;
    private string nCount { get; set; }
    private string nOngkir { get; set; }
    private string nJumlah { get; set; }
    private string nPPn { get; set; }

    public OeTransH transh = new OeTransH();
    List<OeTransH> transaksi = new List<OeTransH>();

    public bool DeleteDialogOpen { get; set; }
    public bool NullDialogOpen { get; set; }
    public bool DetailOpen { get; set; }

    public DateTime Tanggal1 { get; set; }
    public DateTime Tanggal2 { get; set; }



    protected override void OnInitialized()
    {
        base.OnInitialized();
        Tanggal1 = DateTime.Now;
        Tanggal2 = DateTime.Now;
        proses1();

    }



    private void OnSearchClose(bool accepted)
    {

        DetailOpen = false;
        StateHasChanged();

    }

    private void proses1()
    {
        TransHeader = service.Laporan1(Tanggal1, Tanggal2);
        //  nJumlah = TransHeader.Sum(x => x.Jumlah).ToString("N");
       // StateHasChanged();
    }

    private void OpenDetail(OeTransH xKdBank)
    {

        TransDetail = service.Detail1(xKdBank.OeTransHId);
        DetailOpen = !DetailOpen;
        //  navigationmanager.NavigateTo($"/ModuleJual/EditTransJual/{xKdBank}");
        StateHasChanged();
    }

    //private void OpenPrint(int xKdBank)
    //{
    //    navigationmanager.NavigateTo($"/PrintSuratJalan/{xKdBank}");
    //}

}
