@layout PrintLayout

@page "/ModulePrinting/PrintNotaPI/{Id:int}"
@using eSoft.Order.Model
@using eSoft.Order.View
@using eSoft.Hutang.Model
@using eSoft.Persediaan.Model
@using eSoft.Fungsi.Function
@using eSoft.Order.Services
@using eSoft.Hutang.Services

@inject IOrderPurchaseServices service
@inject IPayableServices serviceAR
@inject NavigationManager navigationmanager



<div class="dontprint" style="display:none inline">
    <br />
    &emsp;
    @if(@TransAll.Pajak)
    {
        <NavLink href="/ModuleBeli/TransOrderBeli" class="btn btn-primary btn-lg">&nbsp;Back&nbsp;</NavLink>
    } else
    {
        <NavLink href="/ModuleBeli/TransOrderBeli" class="btn btn-primary btn-lg">&nbsp;Back&nbsp;</NavLink>
    }
    &emsp;
    <NavLink class="btn btn-success btn-lg" onclick="window.print()">&nbsp; Cetak &nbsp;</NavLink>
    &emsp;
    <NavLink @onclick="() => OpenPrint(Id)" class="btn btn-primary btn-lg">&nbsp;Checking PI&nbsp;</NavLink>&emsp;
</div>



<table width="100%" border="0" cellspacing="0" cellpadding="0">

    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>

    <tr>
        <td width="70%">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:14px;">@Perusahaan</td>
                            </tr>
                            <tr>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;">@Alamat</td>
                            </tr>
                            <tr>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:6px;">&nbsp;</td>
                            </tr>


                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;">@TransAll.NamaVendor</td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;">@($"{@customers.Alamat} \n {customers.Kota}") </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:6px;">&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>

                         
                        </table>
                    </td>
                </tr>
            </table>
        </td>

        <td width="30%" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="right">

                <tr>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="left">Tanggal.&nbsp;</td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="right">@TransAll.Tanggal.ToShortDateString()</td>
                </tr>
              
                <tr>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="left"> No Nota.</td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="right">@TransAll.NoLpb</td>
                   
                </tr>
               <tr>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="left"> No Ref.</td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="right">@TransAll.NoPrj</td>
                   
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;" align="center">
            @Title
        </td>
    </tr>


    <tr>
        <td colspan="3">
            <table width="100%" border="0" cellspacing="0" cellpadding="4">
                <tr>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" width="50%" height="32" align="center">Keterangan</td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;" width="10%" align="center">Quantity</td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;" width="12%" align="center">Harga</td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;" width="10%" align="center">Diskon</td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;" width="18%" align="center">Jumlah</td>
                </tr>
                @foreach (var item in TransAll.PoTransDs)
                {

                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;  border-left:1px solid #333; " align="left">@item.NamaItem</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;  " align="right">@($"{@item.Qty.ToString("F0")} {@item.Satuan}") </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;  " align="right">@item.Harga.ToString("N")</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;  " align="right">@item.Discount.ToString("N")</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;   border-right:1px solid #333;" align="right">@item.Jumlah.ToString("N")</td>
                    </tr>
                }

                @if (TransAll.PoTransDs.Count < 6)
                {
                    for (var x = TransAll.PoTransDs.Count; x < 6; x++)
                    {
                        <tr>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-left:1px solid #333; " align="center">&emsp;</td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; " align="center"></td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; " align="center"></td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="center"></td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;  border-right:1px solid #333;" align="center"></td>
                        </tr>
                    }
                }

                <tr>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333;  border-left:1px solid #333; " align="center">&emsp;</td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333;  " align="center"></td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333;  " align="center"></td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; " align="center"></td>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333;   border-right:1px solid #333;" align="center"></td>
                </tr>
                <tr>
                    <td colspan="3"  valign="top">
                        <p>@TransAll.Keterangan</p>  
                        <p>
                            <table width="100%">
                                <tr>
                                    <td width="40%">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="4">
                                            <tr>
                                                <td style="font-family: Verdana, Geneva, sans-serif; font-weight: 300; font-size: 8px;  " align="left">
                                                    <span>PERHATIAN:</span><br />
                                                    <span>
                                                        Harap di cek waktu Diterima. Segera laporkan kembali ke Supplier bila ada kerusakan.
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="40%">
                                        <table width="100%" border="1" cellspacing="0" cellpadding="4" style="border-color:black">
                                            <tr>
                                                <td style="font-family: Verdana, Geneva, sans-serif; font-weight: 300; font-size: 14px; color:black  " align="left">
                                                    <span>Tanda Terima</span><br />
                                                    <span>
                                                        &emsp;
                                                    </span> <br/>
                                                    <span>
                                                        &emsp;
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="20%"></td>
                                </tr>
                            </table>
                            
                        </p>
                    </td>
                    <td colspan="2" valign="top">
                        <table width="100%">
                            <tr>
                                <td width="40%" style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;  " align="right">Sub Total</td>
                                <td width="60%" style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;  " align="right">@TransAll.TtlJumlah.ToString("N")</td>
                            </tr>
                            @if (TransAll.Ppn != 0)
                            {
                                <tr>

                                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;  " align="right">PPn</td>
                                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;  " align="right">@TransAll.Ppn.ToString("N")</td>
                                </tr>
                            }
                            else
                            {
                                <tr>

                                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;  " align="right"></td>
                                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;  " align="right"></td>
                                </tr>
                            }
                            <tr>

                                <td style="font-family: Verdana, Geneva, sans-serif; font-weight: 300; font-size: 11px; border-bottom: 1px solid #333; " align="right">O. Kirim</td>
                                <td style="font-family: Verdana, Geneva, sans-serif; font-weight: 300; font-size: 11px; border-bottom: 1px solid #333; " align="right">@TransAll.Ongkos.ToString("N")</td>
                            </tr>
                            <tr>

                                <td style="font-family: Verdana, Geneva, sans-serif; font-weight: 300; font-size: 11px;  " align="right">Total</td>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:11px;  " align="right">@TransAll.Jumlah.ToString("N")</td>
                            </tr>
                        </table>
                    </td>
                   
                </tr>
              

           
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    
   
   
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    
</table>




@code {
    [Parameter] public string Title { get; set; } = "ORDER PEMBELIAN";
    [Parameter] public int Id { get; set; }
    [Parameter] public string Cetak { get; set; }

    private PoTransHView Transh = new PoTransHView() { PoTransDs = new List<PoTransDView>() };
    private PoTransH TransAll = new PoTransH() { PoTransDs = new List<PoTransD>() };
    private ApSuppl customers;
    // private List<IcItem> srccode;
    private PoTransDView Transd = new PoTransDView();
    private PoTransDView TransK = new PoTransDView();
    //   private List<TransDView> TransDs = new List<TransDView>();
    private string enabled { get; set; }
    public string Perusahaan { get; set; }
    public string Alamat { get; set; }
    public string Rekening1 { get; set; }
    public string Rekening2 { get; set; }

    public string kurs { get; set; } = "";
    private int noUrut { get; set; } = 1;

    protected override void OnInitialized()
    {
        // Transh.Tanggal = DateTime.Now;

        //LoadBank();
        //LoadSrcCode();
        LoadTrans();
        //  StateHasChanged();
    }

    //void LoadBank()
    //{
    //    banks = service.GetBank();
    //}

    //void LoadSrcCode()
    //{
    //    srccode = service.GetSrcCode();
    //}

    void LoadTrans()
    {
        TransAll = service.GetPoTrans(Id);
        customers = serviceAR.GetSupplierKode(TransAll.Vendor);

        if (TransAll.Pajak)
        {
            Perusahaan = "CV BMA TEKNIK";
            Alamat = "Pucang Sewu VII No. 1B, Surabaya";
            Rekening1 = " ";
            Rekening2 = " ";
        } else
        {
           // Perusahaan = "PT. BMA TEKNIK INDONESIA";
            Perusahaan = "CV BMA TEKNIK";
            Alamat = "Pucang Sewu VII No. 1B, Surabaya";
            Rekening1 = " ";
            Rekening2 = " ";
        }
        if (TransAll.Kode == "95")
        {
            Title = "RETUR PENJUALAN";

        }
    }

    private void OpenPrint(int xKdBank)
    {
        navigationmanager.NavigateTo($"/ModulePrinting/PrintBuktiPI/{xKdBank}");
    }
}