@page "/ModuleBank/AddSrcCode"
@using eSoft.CashBank.Model
@using eSoft.CashBank.View
@using eSoft.Ledger.Model
@using eSoft.Ledger.Services

@inject ICashBankServices service
@inject ILedgerServices serviceGl
@inject NavigationManager navigationmanager


<div class="top-row px-4 " style="z-index:5">
    <h3>Add Source Code</h3>
</div>

<div class="content px-4">
    <EditForm Model="@bank" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label>
                Source Code :
                <InputText id="codeBank" class="form-control" @bind-Value="bank.SrcCode" style="text-transform:uppercase" @onfocusout="cekKode" />
            </label>
        </div>
        <div class="form-group">
            <label>
                Nama Source :
                <InputText class="form-control" @bind-Value="bank.NamaSrc" />
            </label>
        </div>
        <br/>

        <div class="form-group">
            <label>
                GL Account :
                <InputSelect class="form-control" @bind-Value="bank.GlAcct" style="width:60%; display:inline">
                    <option value="">&nbsp;&nbsp;---Select GL Account---&nbsp;&nbsp;</option>
                    @foreach (var item in GlAccounts)
                    {
                        <option value="@item.GlAcct">@item.NamaLengkap</option>
                    }

                </InputSelect>
                <button class="btn btn-primary" type="button" @onclick="@(()=> SearchOpen = !SearchOpen)">Cari</button>
            </label>
        </div>
        <br/>
        <div class="float-md-right">
            <button class="btn-success" type="submit">Simpan</button>
            <button class="btn-danger" type="button" @onclick="@(() => navigationmanager.NavigateTo("/ModuleBank/SetupSrcCode", false))">Batal</button>
        </div>

    </EditForm>
</div>

@if (DialogOpen)
{
    <ModalDialogComponent Title="Alert" Text="Kode Source Sudah Ada" TombolSave="false" OnClose="OnDialogClose"></ModalDialogComponent>
}

@if (SearchOpen)
{

    <ModalSearchComponent OnClose="OnSearchClose" Items="GlAccounts" Context="cbBank" GetFilterableText="@(item =>$"{item.GlAcct} {item.GlNama} ")">
        <TableHeader>
            <th scope="col">Code</th>
            <th scope="col">Bank Name</th>

            <th></th>
        </TableHeader>
        <RowTemplate>
            <td>@cbBank.GlAcct</td>
            <td>@cbBank.GlNama</td>

            <td>
                <button @onclick="() => BtnChoose(cbBank.GlAcct)" class="btn btn-success">Choose</button>

            </td>
        </RowTemplate>
    </ModalSearchComponent>


}

<style>
    label {
        width: 100%;
    }
</style>


@code {
    SrcCodeView bank = new SrcCodeView();
    public string Testing { get; set; }
    private bool DialogOpen { get; set; }
    private List<GlAccount> GlAccounts;
    public bool SearchOpen { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        bank.SrcCode = "";
        LoadGlAccounts();
    }

    private void cekKode()
    {
        Testing = bank.SrcCode;
        DialogOpen = service.CekSrcCode(Testing);
        if (DialogOpen)
        {
            bank.SrcCode = "";
        }
        StateHasChanged();
    }

    private void OnDialogClose(bool accepted)
    {

        DialogOpen = false;
        StateHasChanged();

    }



    private void HandleValidSubmit()
    {
        var newEdit = service.AddSrcCode(bank);
        if (newEdit)
        {


        }

        navigationmanager.NavigateTo("/ModuleBank/SetupSrcCode", false);

    }

    void LoadGlAccounts()
    {
        GlAccounts = serviceGl.GetGlAccount();
    }

    private void BtnChoose(string textSearch)
    {
        if (!string.IsNullOrEmpty(textSearch))
        {
            bank.GlAcct = textSearch;
        }

        SearchOpen = false;
        StateHasChanged();
    }

    private void OnSearchClose(bool accepted)
    {

        SearchOpen = false;
        StateHasChanged();

    }
}
